.content1 {
    height: fit-content;
    width: 90%;
    padding-top: 30px;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: inherit;
    background-color: beige;
    margin-bottom: 2rem;
    margin-left: 6rem;
  }
  .listtrain2{
    background-color: #ffffff;
    .listtrain-title{
      margin-top: 10rem;
    }
    .footer-d{
      font-size: x-large;
      background-color:#d7eeaa ;
      margin: 0 4rem;
      padding: 0rem 1rem 2rem 1rem;
    }
  }
  .quiz-body{
    text-align: center;
    margin: 0 14rem 4rem;
    background-color: beige;
    .quiz-title{
      font-size: 5rem;
      margin-top: 2rem;
      color: rgb(255, 0, 0);
      margin-bottom: 0;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .listtrain2-title{
      font-size: 2rem;
      color: rgb(252, 113, 0);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  }
  
  .ant-list-pagination .ant-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .ant-list-item-meta-title {
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 2rem;
    line-height: 1.5715;
  }
  .ant-table-thead {
    height: 0px;
  }
  .wrapper {
    height: fit-content;
    width: 950px;
    display: flex;
    .center-content {
      width: 65%;
      margin-right: 3em;
      max-width: 600px;
    }
    .infor {
      width: 35%;
    }
  }
  