.content123{
  // height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper123{
    max-width: 100%;
    // max-height: 85px;

 
  .center-content123{
    // height: 10px;
    width: 2000px;
    padding: 0 10rem;
    //margin-left: 15rem;

    
  }
  .infor{
  
    padding-right: 25px;
    padding-left: 25px;

  }
}
// .ant-carousel .slick-slide {
//   text-align: center;
//   height: 400px;
//   line-height: 400px;
//   background: #364d79;
//   overflow: hidden;
  
// }

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-card-head{
  height: 17px;
}
.site-card-border-less-wrapper {
  padding: 50px;
  min-height: 15px;
  height: 3px;
}

.heading{
  padding-top: 30px;
  color: red($color: #ff0000);
}

.imgg{
  content: url('../../assets/toiecodau.png');
  height: 82.5px;
  max-width: 1000px;
  width: 165px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.img1{
  content: url('../../assets/IIG.jpg');
  height: 82.5px;
  max-width: 1000px;
  width: 165px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.img2{
  content: url('../../assets/thangdiem.png');
  height: 82.5px;
  max-width: 1000px;
  width: 165px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.img3{
  content: url('../../assets/formatmoi.png');
  height: 82.5px;
  max-width: 1000px;
  width: 165px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.img4{
  content: url('../../assets/we.png');
  height: 82.5px;
  max-width: 1000px;
  width: 165px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.img5{
  content: url('../../assets/QUI.jpg');
  height: 82.5px;
  max-width: 1000px;
  width: 165px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.img6{
  content: url('../../assets/600-tu-vung-toeic.jpg');
  height: 82.5px;
  max-width: 1000px;
  width: 165px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.img7{
  content: url('../../assets/english_grammar_in_use_2019.png');
  height: 82.5px;
  max-width: 1000px;
  width: 165px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.box1{
  content: url('../../assets/we.png');
  height: 150px;
  max-width: 1000px;
  width: 350px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.box2{
  content: url('../../assets/QUI.jpg');
  height: 150px;
  max-width: 1000px;
  width: 350px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.box3{
  content: url('../../assets/600-tu-vung-toeic.jpg');
  height: 150px;
  max-width: 1000px;
  width: 350px;
  &:hover{
    cursor: pointer;
  }
  object-position: contain;
}
.caption{
  width: 180px;
}
.ant-menu{
  background-color: red($color: #8b8585);
}
.ant-card-body{
  width: 360px;
}

.box{
  // height: 15px;
  width: 300px;
  margin: 15px;
  span{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
.tintuc{
  font-size: 15px;
  font-family: 'Roboto', "Segoe UI", Arial, Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  height: 25px;
}
.Fanpage{
  .site-page-header {
    height: 100%;
    margin: 15px;
    border: 4px;
    background: #F3F7FA;
    width: 350px;
    span{
      h2{
        color: #CD2228;
      }
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px;
    }
  }
}
.page{
   height: 100%;
    margin: 15px;
    border: 4px;
    width: 350px;
}
.tailieu{
  padding: 45px 0px 10px 0;
  span{
    h2{
      background: #EA0000;
      font-weight: 600;
      color: #fff;
      margin: 0 auto;
      line-height: 2em;
      text-transform: uppercase;
      text-align: center;
      max-width: 350px; 
      padding: 10px;
    }
  }
  .item{
    width: 390px;
    padding-top: 25px;
    margin: 0px 12px;
    position: relative;
    li{
      a{
        font-size: 17px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';;
      }
    }
  }
  .item1{
    width: 390px;
    height: 408px;
    padding-top: 25px;
    margin: 0px 12px;
    position: relative;
    li{
      a{
        font-size: 17px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';;
      }
    }
  }
}
.footer{
  background-color: black;
}

