#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.logo_admin{
  height: 80px;
  width: 100%;
  object-fit: fill;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .03);
}