


.bar{
width: fit-content;
padding: 4px;
background-color: #FFFFFF;
border: #EBEDF0 solid 1px;
border-radius: 8px;
  margin-right: 40px;
  box-shadow: 0 2px 4px rgba(108,111,115,.1);
.ant-menu-vertical{
  border-right: none;
}
}